.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-blue-dark;
  color: $color-white;
  padding: 2rem 0;
  .container {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 400;
  }

  &__links {
    &-item {
      display: inline-block;
      &-link {
        margin-left: 1rem;
        &-img {
          width: 2.4rem;
        }
      }
    }
  }
}
