$color-black: #000;
$color-white: #fff;

$color-dark-primary: #222831;
$color-dark-secondary: #282f3a;
$color-blue-dark: #30475e;

$color-gold-bright: #f2a365;

$default-space: 5rem;
$grid-space: 2.3rem;
$grid-height-space: 3.8rem;

$border-radius: 0.4rem;

$box-shadow: 0.2rem 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
