$color-black: #000;
$color-white: #fff;

$color-dark-primary: #222831;
$color-dark-secondary: #222831;

$color-blue-dark: #30475e;

$default-space: 5rem;

$grid-space: 2.3rem;

$grid-height-space: 3.8rem;
