html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
